@model IEnumerable<DigitalBookStore.Web.Models.SubscriptionDetail>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                SubscriptionId
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.auther)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auther)
            </td>            
        </tr>
}
    </tbody>
</table>
